# Bỏ qua các thư mục và file cấu hình nội bộ
.agent/
.gemini/
.vscode/

# Bỏ qua thư mục build exe
dist/
build/

# Bỏ qua dữ liệu cục bộ và bản quyền
license.dat
kho_nhan_xet.json
admin_keys_db.json
_machine_id.cache
*_settings.json

# Bỏ qua môi trường Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Bỏ qua thư mục node
node_modules/

# Bỏ qua các file rác OS
.DS_Store
Thumbs.db

#file excel
/excel/*.xlsx
/excel/*.xls
/excel/*.doc
/excel/*.docx